<div class="row">
    <div class="col-md-12">
        <h3>{{question.text}}</h3>
    </div>
    <div class="col-md-12">
        <div class="radio" ng-repeat="variant in variants">
            <label>
                <input type="radio" ng-model="$parent.answer" ng-value="variant" name="answer">
                {{variant}}
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" ng-click="selectVariant()">Выбрать</button>
    </div>
</div>